<div id="cuerpo">

  <header *ngIf = "pop">
    <div id="foto">

      <img src="../assets/pop.jpg" alt="Foto de un saxofon" title="foto pop">

    </div>

    <div id="nombre">
      Pop
    </div>
  </header>

  <header *ngIf = "rock">
    <div id="foto">

      <img src="../assets/rock.jpg" alt="Foto de un saxofon" title="foto rock">

    </div>

    <div id="nombre">
      Rock
    </div>
  </header>

  <header *ngIf = "jazz">
    <div id="foto">

      <img src="../assets/jazz.jpg" alt="Foto de un saxofon" title="foto jazz">

    </div>

    <div id="nombre">
      Jazz
    </div>
  </header>

  <header *ngIf = "swing">
    <div id="foto">

      <img src="../assets/swing.jpg" alt="Foto de un saxofon" title="foto swing">

    </div>

    <div id="nombre">
      Swing
    </div>
  </header>



  <!-------------------------------------------------------------------------------Contenido--------------------------------------------------------------------------------------------------------------->
  <div id="contenido">
    <div id="selectores">
      <!--Artistas-->
      <div class="desplegable">
        <div id="artistas" class="activador" (click)="activarArtista()">
          Artistas
        </div>
        <div id="listaArista" class="lista">

          
          <div *ngFor="let artist of artists" id="artist.id" class="item" [routerLink]="['/artista']" [queryParams]="{ id: artist.id }">
            {{artist.nombre}}
          </div>

        </div>
      </div>

      <!--Canciones-->
      <div class="desplegable">
        <div id="canciones" class="activador" (click)="activarCancion()">
          Canciones
        </div>
        <div id="listaCanciones" class="lista">

          <div *ngFor="let key of canart" id="canart.id" class="item"[routerLink]="['/cancion']" [queryParams]="{ id: key.cancion_id }">
            {{key.titulo}}
          </div>

        </div>
      </div>
    </div>
    <div id="boton">

      <a class="boton_personalizado" (click)="goBack()">Atras</a>

    </div>

  </div>




</div>