<div id="cuerpo">

  <div id="filename">

    <div id="xbot">

      <div id="exitbox" (click)="close()">
        <i class="fas fa-window-close"></i>
      </div>

    </div>


    <div id="input">
        <input id="name" type="text" name="name" placeholder="Nombre" (keyup)="name($event)">
    </div>

    <div id="descargar">
      

        <div id="debot" (click)="download()">
          Descargar
        </div>
        
    </div>

  </div>

  <div id="contenido">

    <div id="pre">

      <div id="etiqueta">
        Previsulización
      </div>

      <div id="imagen" class="item" *ngFor="let key of imsartis">

        <img [src]="key.imagen | safeurl">

      </div>

    </div>

    <div id="opciopnes">


      <div id="escala" class="opt">


        <div id="cuadro">
          X:<input id="x" type="text" name="fname" placeholder="0" (keyup)="x($event)">
          Y:<input id="y" type="text" name="fname" placeholder="0" (keyup)="y($event)">
        </div>

      </div>


      <div id="calidad" class="opt">


        <select id="selcali" (change)="changeCal($event)">
          <option value="ninguno">Ninguno</option>
          <option value="alta">Alta</option>
          <option value="media">Media</option>
          <option value="baja">Baja</option>
        </select>

      </div>

      <div id="color" class="opt">

        <select id="selcol" (change)="changeColor($event)">
          <option value="ninguno">Ninguno</option>
          <option value="rojo">Rojo</option>
          <option value="azul">Azul</option>
          <option value="verde">Verde</option>
          <option value="monocromatico">Monocromatico</option>
        </select>

      </div>

    </div>

  </div>

  <div id="boton">
    <a class="boton_personalizado" (click)="goBack()">Atras</a>
    <a class="boton_personalizado" (click)="restablecer()">Restablecer</a>
    <a class="boton_personalizado" (click)="opendescarga()">Descargar</a>
  </div>

</div>