<div id="cuerpo">

  <header *ngFor="let artist of artists">

    <div id="foto">

      <img [src]="artist.portada | safeurl">

    </div>

    <!--nombre-->
    <div id="nombre">


      <div id={{artist.nombre}}>
        {{artist.nombre}}
        <br>

        {{artist.genero}}

      </div>
    </div>


  </header>

  <div id="contenido">
    <div id="selectores">
      <!--Biografia-->
      <div class="desplegable" id="desplegableBiografia">
        <div id="biografia" class="activador" (click)="activarBiografia()">
          Biografia
        </div>
        <div id="listabiografia" class="lista biografica">

          <div *ngFor="let artist of artists">
            <p>{{artist.biografia}}</p>
          </div>

        </div>
      </div>



      <!--Canciones-->
      <div class="desplegable">
        <div id="canciones" class="activador" (click)="activarCancion()">
          Canciones
        </div>
        <div id="listaCanciones" class="lista">

          <div *ngFor="let key of canart" id={{key.titulo}} class=item [routerLink]="['/cancion']"
            [queryParams]="{ id: key.cancion_id }">



           
            <div class="foto">
                <img [src]="key.portada_cancion | safeurl">
            </div>
            <div class="nombre">
              <p>{{key.titulo}}</p>
            </div>

          


          </div>

        </div>
      </div>

      <!--Albums-->
      <div class="desplegable">


        <div id="Albumes" class="activador" (click)="activarAlbum()">
          Albums
        </div>
        <div id="listaAlbums" class="lista">

          <div *ngFor="let key of albart" id={{key.nombre_album}} class=item>
            <p>{{key.nombre_album}}</p>
          </div>
        </div>
      </div>



    </div>
    <div id="boton">

      <a class="boton_personalizado" (click)="goBack()">Atras</a>


      <a class="boton_personalizado" (click)="goBack()">Ver fotos</a>


    </div>

  </div>




</div>