<div id="cuerpo">

  <div id="selectores">

      <!--Genero-->
      <div class="desplegable">
          <div id="genero" class="activador" (click)="activarGenero()">
              Genero
          </div>
          <div id="listagenero" class="lista">

              <div id="jaz" class="item"class=item [routerLink]="['/genero']" [queryParams]="{ genero: 'jazz'  }">
                  Jazz
              </div>
              <div id="pop" class="item" [routerLink]="['/genero']" [queryParams]="{ genero: 'pop'  }">
                  Pop
              </div>
              <div id="rock" class="item"[routerLink]="['/genero']" [queryParams]="{ genero: 'rock'  }">
                  Rock
              </div>
              <div id="electronica" class="item"[routerLink]="['/genero']" [queryParams]="{ genero: 'swing' }">
                  Swing
              </div>
          </div>
      </div>

      <!--Artistas-->
      <div class="desplegable">
          <div id="artistas" class="activador" (click)="activarArtista()">
              Artistas
          </div>
          <div id="listaArista" class="lista">

              <div *ngFor="let artist of artists" id={{artist.nombre}} class=item [routerLink]="['/artista']" [queryParams]="{ id: artist.id }">
                 {{artist.nombre}}
              </div>
              
                   
          </div>
      </div>


  </div>

 

</div>