<div id="cuerpo">

  <div id="selectores">

      <!--Genero-->
      <div class="desplegable">
          <div id="genero" class="activador" (click)="activarGenero()">
              Genero
          </div>
          <div id="listagenero" class="lista">

              <div id="jaz" class="item">
                  Jazz
              </div>
              <div id="pop" class="item">
                  Pop
              </div>
              <div id="rock" class="item">
                  Rock
              </div>
              <div id="electronica" class="item">
                  Electronica
              </div>
          </div>
      </div>

      <!--Artistas-->
      <div class="desplegable">
          <div id="artistas" class="activador" (click)="activarArtista()">
              Artistas
          </div>
          <div id="listaArista" class="lista">

              <div *ngFor="let artist of artists" id={{artist.nombre}} class=item [routerLink]="['/artista']" [queryParams]="{ id: artist.id }">
                 {{artist.nombre}}
              </div>
              
                   
          </div>
      </div>

      <!--Foto-->
      <div class="desplegable">
          <div id="foto" class="activador" (click)="activarFoto()">
              Foto
          </div>
          <div id="listafoto" class="lista foto">

              <div id="Myley Cyrus" class="item">
                  <img src="../assets/myley.jpg" alt="Foto de Myley cyrus" title="foto artista">
              </div>

              <div id="Lady Gaga" class="item">
                  <img src="../assets/lady.jpeg" alt="Foto de Lady Gaga" title="foto artista">
              </div>

          </div>
      </div>






  </div>

  <div id="ir">

      <a class="boton_personalizado" [routerLink]="['/genero']">genero</a>
      <a class="boton_personalizado" [routerLink]="['/artista']">artista</a>
      <a class="boton_personalizado" [routerLink]="['/cancion']">cancion</a>

      
  </div>



</div>