<div id="cuerpo">

  <header *ngFor="let key of albi">

    <div id="foto">
        <img [src]="key.portada_album | safeurl">
    </div>
    <!--nombre-->
    <div id="nombre">
      <div id={{key.nombre_album}}>
        {{key.nombre_album}}
      </div>
    </div>
  </header>

  <div id="contenido">

    <div id="listacan">
      <div id="titulos">

        <div id="albnum">
          #
        </div>
        <div id="albfot">
          Foto
        </div>
        <div id="albtitulo">
          Titulo
        </div>

      </div>

      <div id="elementos">

        <div class="cancion" *ngFor="let key of canalbi; index as i" [routerLink]="['/cancion']"[queryParams]="{ id: key.id }">
          <div id="num">
            {{i+1}}
          </div>
          <div id="fot">
              <img [src]="key.portada_cancion | safeurl">
          </div>
          <div id="titulo">
            {{key.titulo}}
          </div>
        </div>

      </div>

    </div>
    <div id="boton">
      <a class="boton_personalizado" (click)="goBack()">Atras</a>
    </div>
  </div>

</div>