<div id="cuerpo">


  <!------------------------------------------------------>
  <div id="filename">

      <div id="xbot">
  
        <div id="exitbox" (click)="close()">
          <i class="fas fa-window-close"></i>
        </div>
  
      </div>
  
  
      <div id="input">
          <input id="name" type="text" name="name" placeholder="Nombre" (keyup)="name($event)">
      </div>
  
      <div id="descargar">
        
  
          <div id="debot" (click)="download()">
            Descargar
          </div>
          
      </div>
  
    </div>
    <!------------------------------------------------------>


  <header *ngFor="let key of canci">

    <div id="foto">

      <img [src]="key.portada_cancion | safeurl">

    </div>

    <!--nombre-->
    <div id="nombre">

      <div id={{key.titulo}}>
        {{key.titulo}}
      </div>

    </div>


  </header>

  <div id="contenido">
    <div id="opciones">
      <div id="selectores">
        <!--letra-->
        <div class="desplegable" id="desplegableLetra">
          <div id="letra" class="activador" (click)="activarLetra()">
            Letra
          </div>
          <div id="listaletra" class="lista biografica">

            <div *ngFor="let key of canci">
              <p>{{key.letra}}</p>
            </div>

          </div>
        </div>
      </div>

      <div id=caractericticas>
        <div id="info">
          <div id="etiqueta">
            Datos de la cancion:
          </div>

          <div id="data" *ngFor="let key of canci">
            {{key.info}}
          </div>
        </div>
      </div>

    </div>
    <div id="boton">
      <a class="boton_personalizado" (click)="goBack()">Atras</a>
      <a class="boton_personalizado" (click)="opendescarga()">Descargar</a>
    </div>

  </div>




</div>