/* You can add global styles to this file, and also import other style files */
body{

    position: relative;
    display: flex;
    width: 99vw;
    height: 100vh;
    margin: 0;
    margin-right: 0.5vw;
    margin-left: 0.5vw;
    box-sizing: border-box;

}