/* You can add global styles to this file, and also import other style files */
body{

    position: relative;
    display: flex;
    width: 99vw;
    height: 100vh;
    margin: 0;
    margin-right: 0.5vw;
    margin-left: 0.5vw;
    box-sizing: border-box;

}

::-webkit-scrollbar{
    width: 8px; 
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
    border-radius: 1px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
::-webkit-scrollbar-thumb:active {
    background-color: #dadada;
}

/* Ponemos un color de fondo y redondeamos las esquinas del track */
::-webkit-scrollbar-track {
    background: #999999;
    border-radius: 1px;
}
